p {
    font-size: 14px;
}
h1 {
    font-size: 24px;
    margin: 0;
}
.content {
    background-color: #fff;
    max-width: 800px;
    border: 1px solid #d1d1d1;
    padding: 30px; /* 内側の余白 */
    margin: 0 auto;
}
table, th, td {
    border: 1px solid #d1d1d1;
    margin: 0 auto 0 0
}
body {
    background-color: #fafafa;
}

a {
    color: #666;
}

.description {
    white-space: pre-line;
}