header {
    margin-top: 30px;
    color: var(--bs-blue); /* bootstrap5のCSS Variablesを使ってみる */
}

hr {
    border: 3px solid var(--bs-blue); /* bootstrap5ではborder-widthが効かない？ */
    margin: 30px 0;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}