<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>学習ノート-JavaScript</title>
        <link rel="stylesheet" href="../css/sanitize.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="content">
            <h1>学習ノート-JavaScript</h1>
            <div id="note_unit">
                <div v-for="Note in Notes">
                    <h2>{{ Note.topic }}</h2>
                    <ul>
                        <li class="description" v-for="description in Note.Descriptions">{{ description }}</li>
                    </ul>    
                </div>
            </div>
        </div>

        <script src="js/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#note_unit',
                data: {
                    Notes: [] 
                },
                created: function() {
                    var self = this;
                    $.getJSON('https://modfour.github.io/learn-webcoding/note/data.json', function(data){
                        self.Notes = data
                    });
                }
            });
        </script>
    </body>
</html>