p {
    font-size: 14px;
}
h1 {
    font-size: 24px;
    margin: 0;
}
.content {
    background-color: #fff;
    width: 600px;
    border: 1px solid #d1d1d1;
    padding: 30px; /* 内側の余白 */
    margin: 0 auto;
    /* これは以下と同じ
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto; */
}